In [1]:
import pandas as pd
import numpy as np

In [2]:
colors = []
colors_and_check = ['Black','Dark Blue','Navy Blue','Royal Blue'
          'Light Blue','Sky Blue','Ash','Dark Ash',
          'Grey','Dark Grey','Coffee Brown','Carton',
          'Green','Wine / Maroon','Red', 
          'Navy Blue and Yellow', 'Ash and Yellow',
          'Dark Ash and Yellow','Light Blue and Yellow'
         ]
main_colors = ['Black','Dark Blue','Navy Blue','Royal Blue'
          'Light Blue','Sky Blue','Ash','Dark Ash',
          'Grey','Dark Grey','Coffee Brown','Carton',
          'Green','Wine / Maroon','Red'
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

types = ['Plain','Rough Surface','Tiny Stripe','Big stripe','Check',
         'Dotted','Flower',
         # 'Codro'
        ]

sex = ['male','Female']
buttons = ['Single Button','Double Button']
breasteds = ['None',"Double Breasted"]
golden_button = ['No']

pics = [
        # '1pc (top)',
        '2pcs (top, Trouser)','3pcs (top, Trouser, Jacket)'
       ]

sleeves = ['long']

product = 'Suit'
category = {'Normal Suit':['None'],
            '1st Turkish Suit':['Eleto','Zecca','Finesse','F/Sivero',
                               'Mario Santana','Nevio',"Luis Armoni",
                                'Alberto Biagio','Torpedo','Utes',
                                'Legolas','Zeymond Zerga','Zignanali',
                                'Piserro','Konzi','Charles Brown'
                               ],
            '2nd Turkish Suit':['Faith Zerek','Faith','Luis Armoni',
                               'Pilucci','Mario Casas','Ramzotti',
                               'Maestro','Belfor','senzo','Bronzi'],
            'Normal Blazer': ['Safari','Bishop Neck'],
            '1st Turkish Blazer': ['Man Diamond','Marco Milano','Federico Grunti',
                                   'Orange','Boladino','Alberto Biago',"Mario Santana",
                                   'Roy Robson'
                                  ],
            '2nd Turkish Blazer': ['Man Diamond','Marco Milano','Federico Grunti',
                                   'Orange','Boladino','Alberto Biago',"Mario Santana",
                                   'Roy Robson'
                                  ],
            "Tuxedo": ['Senzo','Maestro','Utes','Decaprie',"Maligan"]
           }

In [3]:
cols = ['Product','Category','Brand','Type','Sex','Color','Size',
        'sleeves','Breasted','Button','Pics', 'Golden Button',
       ]
len(cols)

12

In [4]:
# special cases

# tuxedo flower
# safari suit
# Bishop neck
# check done

# 3057600 rows

In [5]:
data = []
for gender in sex:
    temp = []
    for cat,brands in category.items():
        
        if gender == "Female" and cat not in ['Normal Suit',
                                               '1st Turkish Suit',
                                               '2nd Turkish Suit']:
                continue
        if cat not in ['Normal Suit',
                        '1st Turkish Suit',
                        '2nd Turkish Suit',
                        "Tuxedo",
                                ]:
            
                pics = [ '1pc (top)']
        else:
                pics = [
                    # '1pc (top)',
         '2pcs (top, Trouser)','3pcs (top, Trouser, Jacket)'
           ]
        for brand in brands:
            if cat in [
                        '1st Turkish Suit',
                        '2nd Turkish Suit'] and brand in  ['Maestro','Senzo']:
                golden_button = ['Yes','No']
            else:
                golden_button = ['No']
                
            if brand not in ['Zeymond Zerga','Zignanali','Piserro','Mario Casas','Senzo']:
                breasteds = ['None']
            else:
                breasteds = ['None',"Double Breasted"]
                
            for sleeve in sleeves:

                for breasted in breasteds:
                    for pic in pics:
                        for golden in golden_button:

                            # for cat,brands in category.items():
                            for button in buttons:
                                # for brand in brands:
                                    for type_ in types:
                                        if type_ == "Check":
                                            colors = colors_and_check
                                        else:
                                            colors = main_colors

                                        for color in colors:
                                            for size in sizes:
                                                temp = [product,cat,brand,type_,gender,
                                                        color,size,sleeve,
                                                        breasted,button,pic,golden]
                                                data.append(temp)
                                        
len(temp)

12

In [6]:
df = pd.DataFrame(data,columns=cols)

In [7]:
df

,Product,Category,Brand,Type,Sex,Color,Size,sleeves,Breasted,Button,Pics,Golden Button
0,Suit,Normal Suit,None,Plain,male,Black,36,long,None,Single Button,"2pcs (top, Trouser)",No
1,Suit,Normal Suit,None,Plain,male,Black,38,long,None,Single Button,"2pcs (top, Trouser)",No
2,Suit,Normal Suit,None,Plain,male,Black,40,long,None,Single Button,"2pcs (top, Trouser)",No
3,Suit,Normal Suit,None,Plain,male,Black,42,long,None,Single Button,"2pcs (top, Trouser)",No
4,Suit,Normal Suit,None,Plain,male,Black,44,long,None,Single Button,"2pcs (top, Trouser)",No
...,...,...,...,...,...,...,...,...,...,...,...,...
515707,Suit,2nd Turkish Suit,Bronzi,Flower,Female,Red,58,long,None,Double Button,"3pcs (top, Trouser, Jacket)",No
515708,Suit,2nd Turkish Suit,Bronzi,Flower,Female,Red,60,long,None,Double Button,"3pcs (top, Trouser, Jacket)",No
515709,Suit,2nd Turkish Suit,Bronzi,Flower,Female,Red,62,long,None,Double Button,"3pcs (top, Trouser, Jacket)",No
515710,Suit,2nd Turkish Suit,Bronzi,Flower,Female,Red,64,long,None,Double Button,"3pcs (top, Trouser, Jacket)",No
515711,Suit,2nd Turkish Suit,Bronzi,Flower,Female,Red,66,long,None,Double Button,"3pcs (top, Trouser, Jacket)",No

In [8]:
df[df.Breasted == 'Double Breasted'].Category.unique()

array(['1st Turkish Suit', '2nd Turkish Suit', 'Tuxedo'], dtype=object)

In [9]:
df[df.Breasted == 'Double Breasted']

,Product,Category,Brand,Type,Sex,Color,Size,sleeves,Breasted,Button,Pics,Golden Button
84864,Suit,1st Turkish Suit,Zeymond Zerga,Plain,male,Black,36,long,Double Breasted,Single Button,"2pcs (top, Trouser)",No
84865,Suit,1st Turkish Suit,Zeymond Zerga,Plain,male,Black,38,long,Double Breasted,Single Button,"2pcs (top, Trouser)",No
84866,Suit,1st Turkish Suit,Zeymond Zerga,Plain,male,Black,40,long,Double Breasted,Single Button,"2pcs (top, Trouser)",No
84867,Suit,1st Turkish Suit,Zeymond Zerga,Plain,male,Black,42,long,Double Breasted,Single Button,"2pcs (top, Trouser)",No
84868,Suit,1st Turkish Suit,Zeymond Zerga,Plain,male,Black,44,long,Double Breasted,Single Button,"2pcs (top, Trouser)",No
...,...,...,...,...,...,...,...,...,...,...,...,...
476539,Suit,2nd Turkish Suit,Mario Casas,Flower,Female,Red,58,long,Double Breasted,Double Button,"3pcs (top, Trouser, Jacket)",No
476540,Suit,2nd Turkish Suit,Mario Casas,Flower,Female,Red,60,long,Double Breasted,Double Button,"3pcs (top, Trouser, Jacket)",No
476541,Suit,2nd Turkish Suit,Mario Casas,Flower,Female,Red,62,long,Double Breasted,Double Button,"3pcs (top, Trouser, Jacket)",No
476542,Suit,2nd Turkish Suit,Mario Casas,Flower,Female,Red,64,long,Double Breasted,Double Button,"3pcs (top, Trouser, Jacket)",No
476543,Suit,2nd Turkish Suit,Mario Casas,Flower,Female,Red,66,long,Double Breasted,Double Button,"3pcs (top, Trouser, Jacket)",No

In [10]:
# df[df.Category == 'Normal Suit']

In [11]:
df[df.Category == 'Normal Suit'].Type.unique()

array(['Plain', 'Rough Surface', 'Tiny Stripe', 'Big stripe', 'Check',
       'Dotted', 'Flower'], dtype=object)

In [12]:
# Normal_suits = df[df.Category == 'Normal Suit']

In [13]:
# Normal_suits.to_excel('normal_suits.xlsx',index=False)

In [14]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeves',
       ]
colors = []
# colors_and_check = ['Black','Dark Blue','Navy Blue','Royal Blue'
#           'Light Blue','Sky Blue','Ash','Dark Ash',
#           'Grey','Dark Grey','Coffee Brown','Carton',
#           'Green','Wine / Maroon','Red', 
#           'Navy Blue and Yellow', 'Ash and Yellow',
#           'Dark Ash and Yellow','Light Blue and Yellow'
#          ]
colors = ['white','Black','Sky Blue',
               'Navy Blue','Light Blue','Ash',
               'Grey','Brown','Green','Light Green',
               'Wine / Maroon','Purple','Pink',
               'Red','Lemon','Light Carton','Milk',
               'Orange','Peach'
               
         ]

# sizes = [42,44,46,48,50,52,54,56,58,60,62,64,66]

sizes_ = {'Male':[32,33,34,
                 'Small (37,38)','Medium (39,40)',
                 'Large (41, 42)', 'XL (43,44)',
                 '2XL (45, 46)', '3XL (47,48)',
                 '4XL (49, 50)'
                ],
         'Female': [36,38,40,42,44,46,48,50]
        
        }

# female_plain = [32,33,34]

turkish_female_size = ['6','Small (8)','Medium (10)'
                        'Large (12)', 'XL (14)',
                       '2XL (16)', '3XL (18)',
                         '4XL (20)'
                      
                      ]

sex = ['Male','Female']

sleeves = ['long','Short']

first_turkish_shirt_brand = ['Tim',"Segrato","Balenciaga","Valente",
                       'casual']
brands_ = ['None']

product = 'Shirt'
types = {'Normal (casual) Shirt':['Plain','Designer Collar','Front Design',
                                  'Check','Stripe','Designer'],
            '1st Turkish Shirt':['Plain','Color Neck','Stripe','WYN Neck',
                                 'Check','Dotted',"Flower",
                               ],
            '2nd Turkish Shirt':['Plain','Big Body with Small Neck',
                                 'Bishop Neck','Check'],
           }

In [15]:
data = []
for gender in sex:
    temp = []
    for cat, types_ in types.items():
        if cat == '1st Turkish Shirt':
            brands = first_turkish_shirt_brand
        else:
            brands = brands_
            
        if 'Turkish' in cat and gender == "Female":
            print('seen')
            sizes = turkish_female_size
        else:
            sizes = sizes_
        
        for type_ in types_:
            for brand in brands:
                
                for sleeve in sleeves:

                    for brand in brands:

                        for color in colors:
                            try:
                                for size in sizes[gender]:
                                    temp = [product,cat,brand,type_,gender,
                                            color,size,sleeve]
                                    data.append(temp)
                            except TypeError :
                                for size in sizes:
                                    temp = [product,cat,brand,type_,gender,
                                            color,size,sleeve]
                                    data.append(temp)


len(temp)

seen
seen

8

In [16]:
shirts = pd.DataFrame(data,columns=cols)

In [17]:
shirts[(shirts.Category == '1st Turkish Shirt') & (shirts.sex == 'Female')  ]

,Product,Category,Brand,Type,sex,Color,Size,sleeves
72124,Shirt,1st Turkish Shirt,Tim,Plain,Female,white,6,long
72125,Shirt,1st Turkish Shirt,Tim,Plain,Female,white,Small (8),long
72126,Shirt,1st Turkish Shirt,Tim,Plain,Female,white,Medium (10)Large (12),long
72127,Shirt,1st Turkish Shirt,Tim,Plain,Female,white,XL (14),long
72128,Shirt,1st Turkish Shirt,Tim,Plain,Female,white,2XL (16),long
...,...,...,...,...,...,...,...,...
118669,Shirt,1st Turkish Shirt,casual,Flower,Female,Peach,Medium (10)Large (12),Short
118670,Shirt,1st Turkish Shirt,casual,Flower,Female,Peach,XL (14),Short
118671,Shirt,1st Turkish Shirt,casual,Flower,Female,Peach,2XL (16),Short
118672,Shirt,1st Turkish Shirt,casual,Flower,Female,Peach,3XL (18),Short
118673,Shirt,1st Turkish Shirt,casual,Flower,Female,Peach,4XL (20),Short

In [18]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeves',
       ]
colors = []
# colors_and_check = ['Black','Dark Blue','Navy Blue','Royal Blue'
#           'Light Blue','Sky Blue','Ash','Dark Ash',
#           'Grey','Dark Grey','Coffee Brown','Carton',
#           'Green','Wine / Maroon','Red', 
#           'Navy Blue and Yellow', 'Ash and Yellow',
#           'Dark Ash and Yellow','Light Blue and Yellow'
#          ]
colors = ['white','Black','Sky Blue',
               'Navy Blue','Light Blue','Ash', 'Dark Blue',
               'Grey', 'Dark Grey','Brown','Green','Light Green',
               'Wine / Maroon','Purple','Pink',
               'Red','Lemon','Peach'
               
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

sleeves = ['None']

brands = ['None']

product = 'Jacket'
types = {'Inner Jacket / Waist Coat':['Turkish','Normal','stock',
                            ],
         'Travelling Suit Jacket':['Turkish','Normal','stock',
                            ],
         'Jeans Jacket':['Turkish','Normal','stock',
                            ],
         'Winter Jacket':['Turkish','Normal','stock',
                            ],
         'Cold Jacket':['Turkish','Normal','stock',
                            ],
            'Monkey Jacket':['Plain','Stripe','Check','Dotted',
                             "Rough Surface",
                               ],
           }

In [19]:
data = []
for gender in sex:
    temp = []
    for cat, types_ in types.items():
        if cat == 'Cold Jacket':
            sleeves = ["Long"]
        else:
            sleeves = ["None"]
            
        for type_ in types_:
            for brand in brands:
                
                for sleeve in sleeves:

                    for brand in brands:

                        for color in colors:
                            try:
                                for size in sizes[gender]:
                                    temp = [product,cat,brand,type_,gender,
                                            color,size,sleeve]
                                    data.append(temp)
                            except TypeError :
                                for size in sizes:
                                    temp = [product,cat,brand,type_,gender,
                                            color,size,sleeve]
                                    data.append(temp)


len(temp)

8

In [20]:
jackets= pd.DataFrame(data,columns=cols)

In [21]:
jackets

,Product,Category,Brand,Type,sex,Color,Size,sleeves
0,Jacket,Inner Jacket / Waist Coat,None,Turkish,Unisex,white,36,None
1,Jacket,Inner Jacket / Waist Coat,None,Turkish,Unisex,white,38,None
2,Jacket,Inner Jacket / Waist Coat,None,Turkish,Unisex,white,40,None
3,Jacket,Inner Jacket / Waist Coat,None,Turkish,Unisex,white,42,None
4,Jacket,Inner Jacket / Waist Coat,None,Turkish,Unisex,white,44,None
...,...,...,...,...,...,...,...,...
5755,Jacket,Monkey Jacket,None,Rough Surface,Unisex,Peach,58,None
5756,Jacket,Monkey Jacket,None,Rough Surface,Unisex,Peach,60,None
5757,Jacket,Monkey Jacket,None,Rough Surface,Unisex,Peach,62,None
5758,Jacket,Monkey Jacket,None,Rough Surface,Unisex,Peach,64,None
5759,Jacket,Monkey Jacket,None,Rough Surface,Unisex,Peach,66,None

In [22]:
jackets[jackets.sleeves == "Long"]

     Product     Category Brand     Type     sex  Color  Size sleeves
3456  Jacket  Cold Jacket  None  Turkish  Unisex  white    36    Long
3457  Jacket  Cold Jacket  None  Turkish  Unisex  white    38    Long
3458  Jacket  Cold Jacket  None  Turkish  Unisex  white    40    Long
3459  Jacket  Cold Jacket  None  Turkish  Unisex  white    42    Long
3460  Jacket  Cold Jacket  None  Turkish  Unisex  white    44    Long
...      ...          ...   ...      ...     ...    ...   ...     ...
4315  Jacket  Cold Jacket  None    stock  Unisex  Peach    58    Long
4316  Jacket  Cold Jacket  None    stock  Unisex  Peach    60    Long
4317  Jacket  Cold Jacket  None    stock  Unisex  Peach    62    Long
4318  Jacket  Cold Jacket  None    stock  Unisex  Peach    64    Long
4319  Jacket  Cold Jacket  None    stock  Unisex  Peach    66    Long

[864 rows x 8 columns]

In [23]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size'
       ]
colors = []
# colors_and_check = ['Black','Dark Blue','Navy Blue','Royal Blue'
#           'Light Blue','Sky Blue','Ash','Dark Ash',
#           'Grey','Dark Grey','Coffee Brown','Carton',
#           'Green','Wine / Maroon','Red', 
#           'Navy Blue and Yellow', 'Ash and Yellow',
#           'Dark Ash and Yellow','Light Blue and Yellow'
#          ]
colors = ['white','Black',
            'Navy Blue','Ash',
            'Grey', 'Dark Grey','Brown','Green',
               'Wine / Maroon','Purple','Pink',
               'Yellow','Carton','Stone','Milk',
              'Designer','Offmilk'
               
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Male',"Female"]

brands = ['None']

product = 'Trousers'
types = ['Stock','Normal']

Category = ['Chinose','Plain','Jeans','Dotted',
            'Turkish','Joggers','Pant','Valvet',
            'Knicker','Codro'
           ]

In [24]:
data = []
for gender in sex:
    temp = []
    for cat in Category:
        if cat == 'Jeans':
            types_ = [*types,'Combat']
        else:
            types_ = types
            
        for type_ in types_:
            for brand in brands:
                for color in colors:
                    try:
                        for size in sizes[gender]:
                            temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                            data.append(temp)
                    except TypeError :
                        for size in sizes:
                            temp = [product,cat,brand,type_,gender,
                                    color,size]
                            data.append(temp)


trousers= pd.DataFrame(data,columns=cols)

In [25]:
trousers

        Product Category Brand    Type     sex    Color  Size
0      Trousers  Chinose  None   Stock    Male    white    36
1      Trousers  Chinose  None   Stock    Male    white    38
2      Trousers  Chinose  None   Stock    Male    white    40
3      Trousers  Chinose  None   Stock    Male    white    42
4      Trousers  Chinose  None   Stock    Male    white    44
...         ...      ...   ...     ...     ...      ...   ...
11419  Trousers    Codro  None  Normal  Female  Offmilk    58
11420  Trousers    Codro  None  Normal  Female  Offmilk    60
11421  Trousers    Codro  None  Normal  Female  Offmilk    62
11422  Trousers    Codro  None  Normal  Female  Offmilk    64
11423  Trousers    Codro  None  Normal  Female  Offmilk    66

[11424 rows x 7 columns]

In [26]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size'
       ]
colors = []
# colors_and_check = ['Black','Dark Blue','Navy Blue','Royal Blue'
#           'Light Blue','Sky Blue','Ash','Dark Ash',
#           'Grey','Dark Grey','Coffee Brown','Carton',
#           'Green','Wine / Maroon','Red', 
#           'Navy Blue and Yellow', 'Ash and Yellow',
#           'Dark Ash and Yellow','Light Blue and Yellow'
#          ]
colors = ['white','Black',
            'Navy Blue','Ash',
            'Grey', 'Dark Grey','Brown','Green',
               'Wine / Maroon','Purple','Pink',
               'Yellow','Carton','Stone','Milk',
              'Designer','Offmilk'
               
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Male',"Female"]

brands = ['None']

product = 'Shorts'
types = ['Stock','Normal']

Category = ['Chinose','Plain','Jeans',
            'Liv','Valvet','Knicker','3/4'
           ]

In [27]:
data = []
for gender in sex:
    temp = []
    for cat in Category:
        if cat == 'Jeans':
            types_ = [*types,'Combat']
        else:
            types_ = types
            
        for type_ in types_:
            for brand in brands:
                for color in colors:
                    try:
                        for size in sizes[gender]:
                            temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                            data.append(temp)
                    except TypeError :
                        for size in sizes:
                            temp = [product,cat,brand,type_,gender,
                                    color,size]
                            data.append(temp)


shorts= pd.DataFrame(data,columns=cols)

In [28]:
shorts

     Product Category Brand    Type     sex    Color  Size
0     Shorts  Chinose  None   Stock    Male    white    36
1     Shorts  Chinose  None   Stock    Male    white    38
2     Shorts  Chinose  None   Stock    Male    white    40
3     Shorts  Chinose  None   Stock    Male    white    42
4     Shorts  Chinose  None   Stock    Male    white    44
...      ...      ...   ...     ...     ...      ...   ...
8155  Shorts      3/4  None  Normal  Female  Offmilk    58
8156  Shorts      3/4  None  Normal  Female  Offmilk    60
8157  Shorts      3/4  None  Normal  Female  Offmilk    62
8158  Shorts      3/4  None  Normal  Female  Offmilk    64
8159  Shorts      3/4  None  Normal  Female  Offmilk    66

[8160 rows x 7 columns]

In [32]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeve',
       ]
colors = []

colors = ['white','Black',
            'Navy Blue','Ash',
            'Grey', 'Dark Grey','Brown','Green',
               'Wine / Maroon','Purple','Pink',
               'Yellow','Carton','Stone','Milk',
              'Designer','Offmilk'
               
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

brands = ['None']
sleeves = ['long','Short']
product = 'Polo'
types = ['Stock','Normal']

Category = ['Round Neck','V Neck',
           ]

In [33]:
data = []
for gender in sex:
    temp = []
    for  cat in Category:
        for type_ in types:
            for sleeve in sleeves:

                for brand in brands:

                    for color in colors:
                        try:
                            for size in sizes[gender]:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)
                        except TypeError :
                            for size in sizes:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)

polo = pd.DataFrame(data,columns=cols)

In [34]:
polo

     Product    Category Brand    Type     sex    Color  Size sleeve
0       Polo  Round Neck  None   Stock  Unisex    white    36   long
1       Polo  Round Neck  None   Stock  Unisex    white    38   long
2       Polo  Round Neck  None   Stock  Unisex    white    40   long
3       Polo  Round Neck  None   Stock  Unisex    white    42   long
4       Polo  Round Neck  None   Stock  Unisex    white    44   long
...      ...         ...   ...     ...     ...      ...   ...    ...
2171    Polo      V Neck  None  Normal  Unisex  Offmilk    58  Short
2172    Polo      V Neck  None  Normal  Unisex  Offmilk    60  Short
2173    Polo      V Neck  None  Normal  Unisex  Offmilk    62  Short
2174    Polo      V Neck  None  Normal  Unisex  Offmilk    64  Short
2175    Polo      V Neck  None  Normal  Unisex  Offmilk    66  Short

[2176 rows x 8 columns]

In [37]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeve',
       ]
colors = []

colors = ['white','Black',
            'Navy Blue','Ash',
            'Grey', 'Dark Grey','Brown','Green',
               'Wine / Maroon','Purple','Pink',
               'Yellow','Carton','Stone','Milk',
              'Designer','Offmilk'
               
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

brands = ['None']
sleeves = ['long','Short']
product = 'Turtle Neck'
types = ['Stock','Normal']

Category = ['Plain','Stripe','Check',
         # 'Codro'
        ]

data = []
for gender in sex:
    temp = []
    for  cat in Category:
        for type_ in types:
            for sleeve in sleeves:

                for brand in brands:

                    for color in colors:
                        try:
                            for size in sizes[gender]:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)
                        except TypeError :
                            for size in sizes:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)

turtle_neck = pd.DataFrame(data,columns=cols)
turtle_neck

          Product Category Brand    Type     sex    Color  Size sleeve
0     Turtle Neck    Plain  None   Stock  Unisex    white    36   long
1     Turtle Neck    Plain  None   Stock  Unisex    white    38   long
2     Turtle Neck    Plain  None   Stock  Unisex    white    40   long
3     Turtle Neck    Plain  None   Stock  Unisex    white    42   long
4     Turtle Neck    Plain  None   Stock  Unisex    white    44   long
...           ...      ...   ...     ...     ...      ...   ...    ...
3259  Turtle Neck    Check  None  Normal  Unisex  Offmilk    58  Short
3260  Turtle Neck    Check  None  Normal  Unisex  Offmilk    60  Short
3261  Turtle Neck    Check  None  Normal  Unisex  Offmilk    62  Short
3262  Turtle Neck    Check  None  Normal  Unisex  Offmilk    64  Short
3263  Turtle Neck    Check  None  Normal  Unisex  Offmilk    66  Short

[3264 rows x 8 columns]

In [43]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeve',
       ]

colors = ['white','Black',
            'Navy Blue','Ash',
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

brands = ['None']
sleeves = ['None']
product = 'Boxers'
types = ['Normal','Stock']

Category = ['3 in 1','2 in 1',
            'Single',
            'Banana'
         # 'Codro'
        ]

data = []
for gender in sex:
    temp = []
    for  cat in Category:
        for type_ in types:
            for sleeve in sleeves:

                for brand in brands:

                    for color in colors:
                        try:
                            for size in sizes[gender]:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)
                        except TypeError :
                            for size in sizes:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)

boxers = pd.DataFrame(data,columns=cols)
boxers

    Product Category Brand    Type     sex  Color  Size sleeve
0    Boxers   3 in 1  None  Normal  Unisex  white    36   None
1    Boxers   3 in 1  None  Normal  Unisex  white    38   None
2    Boxers   3 in 1  None  Normal  Unisex  white    40   None
3    Boxers   3 in 1  None  Normal  Unisex  white    42   None
4    Boxers   3 in 1  None  Normal  Unisex  white    44   None
..      ...      ...   ...     ...     ...    ...   ...    ...
507  Boxers   Banana  None   Stock  Unisex    Ash    58   None
508  Boxers   Banana  None   Stock  Unisex    Ash    60   None
509  Boxers   Banana  None   Stock  Unisex    Ash    62   None
510  Boxers   Banana  None   Stock  Unisex    Ash    64   None
511  Boxers   Banana  None   Stock  Unisex    Ash    66   None

[512 rows x 8 columns]

In [51]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeve',
       ]

colors = ['white']

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

brands = ['Lux','Versace','Gucci',
          'Cartelo','Tommy','Fendi',
          'Emperior Armani','Lascote',
          'Boss','Calvin Klein','Hermes',
          'DG','Burberry','Addidas',
          'T&H','Moncler','Dior','L.V',
          
         
         ]
sleeves = ['None']
product = 'Pant'
types = ['Cotton','Higher Cotton','Condom']

Category = ['3 in 1','2 in 1',
            'Single',
         # 'Codro'
        ]

data = []
for gender in sex:
    temp = []
    for  cat in Category:
        for type_ in types:
            for sleeve in sleeves:

                for brand in brands:

                    for color in colors:
                        try:
                            for size in sizes[gender]:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)
                        except TypeError :
                            for size in sizes:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)

pants = pd.DataFrame(data,columns=cols)
pants

     Product Category Brand    Type     sex  Color  Size sleeve
0       Pant   3 in 1   Lux  Cotton  Unisex  white    36   None
1       Pant   3 in 1   Lux  Cotton  Unisex  white    38   None
2       Pant   3 in 1   Lux  Cotton  Unisex  white    40   None
3       Pant   3 in 1   Lux  Cotton  Unisex  white    42   None
4       Pant   3 in 1   Lux  Cotton  Unisex  white    44   None
...      ...      ...   ...     ...     ...    ...   ...    ...
2587    Pant   Single   L.V  Condom  Unisex  white    58   None
2588    Pant   Single   L.V  Condom  Unisex  white    60   None
2589    Pant   Single   L.V  Condom  Unisex  white    62   None
2590    Pant   Single   L.V  Condom  Unisex  white    64   None
2591    Pant   Single   L.V  Condom  Unisex  white    66   None

[2592 rows x 8 columns]

In [46]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeve',
       ]

colors = ['white','Black',
            'Navy Blue','Ash',
         ]

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

brands = ['None']
sleeves = ['None']
product = 'Singlet'
types = ['Normal','Stock']

Category = ['3 in 1','Single',
            '2 in 1'
         # 'Codro'
        ]

data = []
for gender in sex:
    temp = []
    for  cat in Category:
        for type_ in types:
            for sleeve in sleeves:

                for brand in brands:

                    for color in colors:
                        try:
                            for size in sizes[gender]:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)
                        except TypeError :
                            for size in sizes:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)

Singlet = pd.DataFrame(data,columns=cols)
Singlet

     Product Category Brand    Type     sex  Color  Size sleeve
0    Singlet   3 in 1  None  Normal  Unisex  white    36   None
1    Singlet   3 in 1  None  Normal  Unisex  white    38   None
2    Singlet   3 in 1  None  Normal  Unisex  white    40   None
3    Singlet   3 in 1  None  Normal  Unisex  white    42   None
4    Singlet   3 in 1  None  Normal  Unisex  white    44   None
..       ...      ...   ...     ...     ...    ...   ...    ...
379  Singlet   2 in 1  None   Stock  Unisex    Ash    58   None
380  Singlet   2 in 1  None   Stock  Unisex    Ash    60   None
381  Singlet   2 in 1  None   Stock  Unisex    Ash    62   None
382  Singlet   2 in 1  None   Stock  Unisex    Ash    64   None
383  Singlet   2 in 1  None   Stock  Unisex    Ash    66   None

[384 rows x 8 columns]

In [49]:
cols = ['Product','Category','Brand','Type',
        'sex','Color','Size','sleeve',
       ]

colors = {'Manchester United':['Red','Black','White & Black','Grey and White'],
          'Chelsea':['Blue','Yellow'],
         'Liverpool':['Red'],
          'Arsenal':['Red','Yellow','Green'],
         'Manchester City':['Blue','Dark Blue','Light Blue'],
          'Bacar':['Blue','Red and Blue'],
         'Real Madrid':['White'],
          'PSG':['Dark Blue','White and Blue'],
         'Bayern Munich':['Black'],
         'NFF':['Green','Green and White','Green Armless']
         
         
         }

sizes = [36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66]

sex = ['Unisex']

types = ['Collar','Non Collar']
sleeves = ['short']
product = 'Jersey'
brands = ['Manchester United','Chelsea',
        'Liverpool','Arsenal',
         'Manchester City', 'Bacar',
        'Real Madrid','PSG',
         'Bayern Munich',
         'NFF'
        ]

Category = ['Normal','Original / Player version',
            'Children (Up and Down)'
         # 'Codro'
        ]

data = []
for gender in sex:
    temp = []
    for  cat in Category:
        for type_ in types:
            for sleeve in sleeves:

                for brand in brands:

                    for color in colors[brand]:
                        try:
                            for size in sizes[gender]:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)
                        except TypeError :
                            for size in sizes:
                                temp = [product,cat,brand,type_,gender,
                                        color,size,sleeve]
                                data.append(temp)

Jersey = pd.DataFrame(data,columns=cols)
Jersey

,Product,Category,Brand,Type,sex,Color,Size,sleeve
0,Jersey,Normal,Manchester United,Collar,Unisex,Red,36,short
1,Jersey,Normal,Manchester United,Collar,Unisex,Red,38,short
2,Jersey,Normal,Manchester United,Collar,Unisex,Red,40,short
3,Jersey,Normal,Manchester United,Collar,Unisex,Red,42,short
4,Jersey,Normal,Manchester United,Collar,Unisex,Red,44,short
...,...,...,...,...,...,...,...,...
2107,Jersey,Children (Up and Down),NFF,Non Collar,Unisex,Green Armless,58,short
2108,Jersey,Children (Up and Down),NFF,Non Collar,Unisex,Green Armless,60,short
2109,Jersey,Children (Up and Down),NFF,Non Collar,Unisex,Green Armless,62,short
2110,Jersey,Children (Up and Down),NFF,Non Collar,Unisex,Green Armless,64,short
2111,Jersey,Children (Up and Down),NFF,Non Collar,Unisex,Green Armless,66,short